<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>盈飞无限质量管理系统</title>
  <!-- <link rel="stylesheet" href="/dist/css/layui.css" />
    <script src="/dist/layui.js"></script> -->
  <script>
    function onContextMenu(event) {
      event.preventDefault()
    }
  </script>
</head>

<body oncontextmenu="onContextMenu(event)">
  <div id="root" oncontextmenu="onContextMenu(event)"></div>
</body>

</html>