.advancedSearch {
  overflow: scroll;
  margin-bottom: 10px;
  padding: 10px 10px 0 10px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}
.fullButton {
  position: absolute;
  right: 56px;
  top: 0;
  border: none;
  height: 54px;
  color: #fff;
  background-color: #1890ff;
}
.fullScreenButton {
  position: absolute;
  right: 40px;
  border: none;
  height: 54px;
  font-size: 16px;
  color: #fff;
  background-color: #1890ff;
}
.fullScreenButton:hover,
.fullScreenButton:focus {
  color: rgba(0, 0, 0, 0.75);
  background-color: #1890ff;
}

/* FileView.js */
.cardContainer {
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.fileCard {
  width: 250px;
  height: 100px;
  margin: 0 10px 15px 0;
  display: flex;
}
.cardLeft {
  width: 150px;
  height: 100%;
}
.fileImg {
  max-width: 100px;
  max-height: 100px;
}
.cardRight {
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.fileTitle {
  width: 100%;
  font-weight: bold;
}
.fileRemark {
  flex-grow: 1;
}

/* BrowseFiles */
.pdf-page {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
