.borderBottom {
  border-bottom: 2px solid #1890ff;
}

.borderRight {
  margin-right: 5px !important;
  border-right: 2px solid #1890ff;
}

.fullButton {
  position: absolute !important;
  top: 0px !important;
  right: 40px !important;
  height: 54px !important;
  padding: 0 !important;
  color: #fff;
  background-color: #1890ff;
  border: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullButton:hover,
.fullButton:focus {
  color: rgba(0, 0, 0, 0.75);
  background-color: #1890ff;
}

.AboutUs {
  :global .ant-modal-body {
    max-height: 100%;
    padding: 0px !important;
  }
}

.selectModal {
  :global .ant-modal-body {
    max-height: 100%;
    padding: 16px 20px 5px 20px;
    overflow: hidden;
  }
}

.dragTitle {
  width: calc(100% - 56px);
  cursor: move;
}
